* {
  padding: 0;
  margin: 0;
}

#app, body, html {
  width: 100%;
  height: 100%;
}

#app {
  display: flex;
  flex-direction: column;
}


header, footer {
  width: 100%;
  height: 50px;
  text-align: center;
  line-height: 50px;
  
}
header{
  border-bottom: 1px solid #333;
}
main {
  flex: 1;
  overflow: hiddenx;
}
footer {
  border-top: 1px solid #333;
}